{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
    "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "jest": true,
  },
  "rules": {
    "arrow-parens": 0,
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": 0,
    "no-confusing-arrow": 0,
    "no-duplicate-imports": 0,
    "no-else-return": 0,
    "no-prototype-builtins": 0,
    "no-unused-vars": [2, { "varsIgnorePattern": "^_+$" }],
    "quote-props": 0,
    "semi": [2, "never"],
    "space-before-function-paren": 0,
    "symbol-description": 0,
    "valid-jsdoc": 0,
    "max-len": 0
  }
}
