# npm
npm-debug.log
node_modules

# Built Files
/index.js

# Built Folders
/color
dist
/helpers
/internalHelpers
lib
/mixins
/shorthands
/types

# Test files
coverage

# Misc.
.DS_Store
yarn-error.log
