# config files
.babelrc
.babelrc.js
.editorconfig
.eslintignore
.eslintrc
.flowconfig
.github
.gitignore
.npmignore
.travis.yml

# folders
coverage
src
test
flow-typed

# markdown files
CONTRIBUTING.md

# misc.
rollup.config.js
travis_after_all.py
yarn.lock
