#  dotfiles
.editorconfig
.eslintignore
.eslintrc
.flowconfig
.github
.gitignore
.npmignore
.prettierrc
.travis.yml

# folders
build
coverage
src
test
flow-typed

# repo documentation
CODE_OF_CONDUCT.md
CODEOWNERS
CONTRIBUTING.md

# misc.
lerna.json
Makefile
rollup.config.js
travis_after_all.py
typescript-test.ts
yarn.lock
