name: Node CI Test

on: [push, pull_request]

jobs:
  build-test:

    strategy:
      matrix:
        node-version: [10.x, 12.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Yarn
      run: npm install -g yarn
    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - uses: actions/cache@v1
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: Install Dependencies
      run: yarn install --ignore-scripts --frozen-lockfile
    - name: Run Jest Tests
      run: yarn test
    - name: Lint Files
      run: yarn lint
    - name: Build and Check Types
      run: |
        yarn flow
        yarn build:flow
        yarn build:typescript
        yarn typescript
